<div class="navebar">
    <div class="navebar-list">
        <li><a class="Home-page-navbar" href="/">Home</a>
        <li><a class="Education-page-navbar" href="/Education">Education</a></li>
        <li><a class="Project-page-navbar" href="/project">Projects</a></li>
        <li><a class="Work-experiance-navbar" href="/Work">Work</a></li>
        <li><a class="Blog1" href="Blog">Blog</a></li>
        <li><a class="add-blog-content" href="/add-blogs">Add Blogs</a></li>
    </div>
</div>