<%-include("partials/header.ejs")%>

<div class="main-box">

    <%-include("partials/navbar.ejs")%>

    <div class="box1">
        <div class="Home-page">
            <h1>Education</h1>
        </div>
        <div class="detail1">
            <B>10th:-</B>
            <p>I did my 10th from St. Xavier's Jr/Sr School, ramna , Muzaffarpur, Bihar.<br>
            I got 81% in the 10th.<Br> My school is affiliated by CBSE and I passed out in 2019.</p>
        </div>
        <div class="detail2">
            <B>12th:-</B>
            <p>I did my 12th from Doon Public School,Muzaffarpur, Bihar.<br>
            I got 75% in the 12th.<Br> My school is affiliated by CBSE and I passed out in 2021.</p>
        </div>
        
    </div>

</div>



<%- include("partials/footer.ejs") %>