<%-include("partials/header.ejs")%>

<div class="main-box">

    <%-include("partials/navbar.ejs")%>

    <div class="box1">
        <div class="Home-page">
            <h1>Home Page</h1>
        </div>
        <!-- <br> -->
        <div class="myimage" >
            <img class="image" src="images/myimage.jpeg" alt="my image">
        </div>  
        <div class="words-of-apprications">
            <p>Hello! This is my website for blog and for personal use I hope you like this. But it do not even matter to me you like this or not. I will try to update my works here.</p>
            <B>Thank you</B>
        </div>
    </div>

    <!-- <div class="planet-box"> -->

</div>



<%- include("partials/footer.ejs") %>